@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@300&display=swap");

body {
  background: #f1f1f1;
  font-family: Poppins;
}

.card-area {
  display: flex;
  /* flex-direction: column; */
  margin: 10% auto;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  background: #fff;
  line-height: 1.5;
  border-radius: 2px;

  /* focus 시 이미지 커질때 처리 */
  overflow: hidden;

  /* z-index: 0; */
  max-width: 450px;
}

.card-area:hover .sin-img {
  transform: scale(1.1);
}

.card-area .img-area {
  position: relative;
  /* z-index: 0; */
  height: 200px;
}

.card-area .sin-img {
  position: absolute;
  /* 전체화면 */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* 전체화면 end*/

  background-size: cover;
  background-position: center;
  transition: 0.9s;
}

.card-area .img-text {
  padding: 1em;
  background: #fff;
  position: relative;
  z-index: 1;
}

.card-area .img-text h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.6rem;
}

.card-area .img-text h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: tomato;
  margin-top: 10px;
}

.card-area {
  /* flex-direction: row; */
}

.card-area .img-area {
  flex-basis: 40%;
  height: auto;
}

.card-area .img-text {
  flex-basis: 60%;
}

.card-area .img-text:before {
  transform: skewX(4deg);
  content: "";
  background: #fff;
  width: 30px;
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.img-text p i {
  margin: 0 5px;
}
