* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ddd;
}

.wrapper {
  display: flex;
}

header {
  width: 100%;
  background: tomato;
}

.content-area {
}
.single-content {
  background: #fff;
  margin: 15px;
}

footer {
  width: 100%;
  background: #000;
  color: #fff;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    flex-wrap: wrap;
  }

  .content-area {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
  }
  .full-width {
    width: 100%;
  }
  .one-half {
    flex: 2;
  }
  .one-thrid {
    flex: 3;
    background: yellow;
  }
}
