@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@300&display=swap");

body {
  background: #262626;
}

h1 {
  text-align: center;
  text-shadow: 0 2px 20px #fff;
  color: #fff;
  font-family: serif;
  font-family: Audiowide;
  text-transform: uppercase;
  margin: 2% 0 0;
}

.wrapper {
  border: 1px solid yellow;
  width: 1170px;
  height: 70vh;
  margin: 3% auto;
  display: flex;
}

.single-image {
  flex: 1;
  margin: 0;
  padding: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 500ms cubic-bezier(0.14, 0.69, 0.93, 1);
}

.single-image:hover {
  flex-basis: 50vw;
}

/* for tab */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 100%;
  }
}
